.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top_nav {
  width: 100%;
  padding: 0.5rem var(--layout-padding-desktop) 1rem
    var(--layout-padding-desktop);
  background: var(--accent-default);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 2rem;
}

.top_nav_home {
  background: var(--top-nav-home);
  padding: 0.5rem var(--layout-padding-desktop) 0 var(--layout-padding-desktop);
}

.home_img_container {
  width: 100%;
  z-index: -1;
}

.home_img {
  width: 100%;
  height: auto;
}

.home_title_container {
  padding-right: var(--layout-padding-desktop);
  position: absolute;
  top: 7.5rem;
  left: 25%;
}

.home_title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

.home_subtitle {
  font-family: var(--font-outfit);
  font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .top_nav {
    padding: 0.5rem var(--layout-padding-mobile) 1rem
      var(--layout-padding-mobile);
  }

  .top_nav_home {
    padding: 0.5rem var(--layout-padding-mobile) 0 var(--layout-padding-mobile);
  }

  .home_img_container {
    overflow-x: hidden;
  }

  .home_img {
    width: 200%;
    position: relative;
    left: -20%;
  }

  .home_title_container {
    padding-right: var(--layout-padding-mobile);
    top: 7rem;
    left: 20%;
  }

  .mobile_menu_icon {
    margin-top: 0.75rem;
    padding-right: var(--layout-padding-mobile);
    align-self: flex-end;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .top_nav {
    padding: 0.5rem var(--layout-padding-tablet) 1rem
      var(--layout-padding-tablet);
  }

  .top_nav_home {
    padding: 0.5rem var(--layout-padding-tablet) 0 var(--layout-padding-tablet);
  }

  .home_img_container {
    overflow-x: hidden;
  }

  .home_img {
    width: 150%;
    position: relative;
    left: -10%;
  }

  .home_title_container {
    padding-right: var(--layout-padding-tablet);
    top: 6rem;
    left: 27.5%;
  }
}
