.locale_button {
  margin: 0.25rem;
  font-size: 1.25rem;
}

.active_locale {
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  .locale_button:hover {
    text-decoration: underline;
  }
}
