.container {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 var(--layout-padding-desktop);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_container {
  font-family: var(--font-outfit);
}

.title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-wrap: nowrap;
}

.subtitle {
  font-weight: 200;
  text-wrap: nowrap;
}

.nav {
  flex: 1;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.legal {
  font-size: 1rem;
}

@media (max-width: 700px) {
  .container {
    padding: 0rem var(--layout-padding-mobile);
  }

  .nav {
    flex: unset;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .container {
    padding: 0rem var(--layout-padding-tablet);
  }
}
