.container {
  width: 100%;
  margin-top: 2rem;
  padding: 0 var(--layout-padding-desktop);
}

.links_list {
  display: flex;
  gap: 4rem;
}

.nav_link {
  font-size: 1.5rem;
}

.active_path {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .container {
    padding: 0rem var(--layout-padding-mobile);
  }

  .links_list {
    /* FIXME: */
    flex-wrap: wrap;
    gap: 1rem 2rem;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .container {
    padding: 0rem var(--layout-padding-tablet);
  }

  .links_list {
    /* FIXME: */
    flex-wrap: wrap;
    gap: 1rem 3rem;
  }
}
