.container {
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container > * {
  backdrop-filter: blur(2px);
  padding-left: 0.25rem;
}
