.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  width: 100%;
  height: auto;
  /* filter: saturate(0.75); */
}

.tag_list {
  display: flex;
  gap: 1rem 0.5rem;
}
