:root {
  color-scheme: light;

  --bg-color: #fff3e7;
  --fg-color: #09141e;
  --fg-transparent: rgba(9, 20, 30, 0.25);

  --accent-01: #3e5664;
  --accent-02: #78919a;
  --accent-03: #cdcac2;

  --top-bar-home: #102d3e;

  --dark-color: #09141e;
  --light-color: #fff3e7;
  --accent-default: #112e3e;

  --layout-padding-desktop: 10%;
  --layout-padding-mobile: 2.5%;
  --layout-padding-tablet: 5%;
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --bg-color: #09141e;
  --fg-color: #fff3e7;
  --fg-transparent: rgba(255, 243, 231, 0.25);

  --accent-01: #76a6bc;
  --accent-02: #3a6878;
  --accent-03: #0d212e;

  --top-bar-home: #09141e;
}

html * {
  outline: none;
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;

  transition: background 200ms;

  /* border: 1px dotted #999999; */
}

button,
input,
ul,
a {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  user-select: none;
  text-decoration: none;
  appearance: none;
  list-style: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
  font-size: 16px;
}

body {
  width: 100dvw;
  height: 100dvh;
  background: var(--bg-color);
  font-family: var(--font-work_sans);
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--fg-color);
  overflow: auto;
  overflow-x: hidden;
}

.layout_container {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.child_container {
  flex: 1;
  width: 100%;
  margin: 3.5rem 0 2.5rem 0;
  padding: 0 var(--layout-padding-desktop);
}

/* 🐞 */

/* .child_container * {
  border: 1px dotted #999999;
} */

.page_container {
  width: 100%;
  display: flex;
  gap: 5%;
}

main {
  width: 65%;
}

aside {
  width: 30%;
  min-width: 19rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aside_content {
  width: 100%;
}

.aside_content > section {
  width: 100%;
}

h1,
h2 {
  font-family: var(--font-outfit);
  margin-bottom: 2rem;
  user-select: none;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
}

a {
  font-family: var(--font-outfit);
  color: var(--accent-01);
}

/* 📌 @media */

@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: underline;
  }
}

/* ⚠️ mobile */

@media (max-width: 700px) {
  .child_container {
    margin: 2rem 0 2.5rem 0;
    padding: 0 var(--layout-padding-mobile);
  }

  .aside_img_container {
    width: 13rem;
    height: 14.5rem;
  }
}

/* ⚠️ tablet */

@media (min-width: 701px) and (max-width: 1120px) {
  .child_container {
    padding: 0 var(--layout-padding-tablet);
  }

  aside {
    flex-direction: row-reverse;
    gap: 5%;
  }

  .aside_img_container {
    width: 45%;
    height: unset;
    display: flex;
    justify-content: center;
  }

  .aside_img {
    width: 16rem;
    height: 18rem;
  }

  .aside_content {
    width: 50%;
  }
}

/* ⚠️ mobile && tablet */

@media (max-width: 1120px) {
  .page_container {
    flex-direction: column;
    gap: 3rem;
  }

  main {
    width: 100%;
  }

  aside {
    width: 100%;
    min-width: unset;
  }
}
