:root {
  color-scheme: light;

  --dark-color: #09141e;
  --light-color: #fff3e7;
  --accent-default: #112e3e;

  --bg-color: var(--light-color);
  --fg-color: var(--dark-color);

  --bg-90: rgba(255, 243, 231, 0.9);
  --bg-75: rgba(255, 243, 231, 0.75);
  --bg-50: rgba(255, 243, 231, 0.5);
  --fg-transparent: rgba(9, 20, 30, 0.25);

  --accent-01: #3e5664;
  --accent-02: #78919a;
  --accent-03: #cdcac2;

  --top-bar-home: #102d3e;

  --layout-padding-desktop: 10%;
  --layout-padding-mobile: 5%;
  --layout-padding-tablet: 5%;
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --bg-color: var(--dark-color);
  --fg-color: var(--light-color);

  --bg-90: rgba(9, 20, 30, 0.9);
  --bg-75: rgba(9, 20, 30, 0.75);
  --bg-50: rgba(9, 20, 30, 0.5);
  --fg-transparent: rgba(255, 243, 231, 0.25);

  --accent-01: #76a6bc;
  --accent-02: #3a6878;
  --accent-03: #0d212e;

  --top-bar-home: var(--dark-color);
}

html * {
  outline: none;
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;

  transition: background 200ms;

  /* 🐞 */

  /* border: 1px dotted #999999; */
}

button,
input,
textarea,
ul,
a {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  appearance: none;
  list-style: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a,
button {
  cursor: pointer;
  user-select: none;
}

html {
  font-size: 16px;
}

body {
  width: 100dvw;
  height: 100dvh;
  background: var(--bg-color);
  font-family: var(--font-work_sans);
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--fg-color);
  overflow: auto;
  overflow-x: hidden;
}

.layout_container {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.child_container {
  flex: 1;
  width: 100%;
  margin: 3.5rem 0;
  padding: 0 var(--layout-padding-desktop);
}

/* 🐞 */

/* .child_container * {
  border: 1px dotted #999999;
} */

.page_container {
  width: 100%;
  display: flex;
  gap: 5%;
}

main {
  width: 67.5%;
}

aside {
  width: 27.5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content_header {
  width: 100%;
}

.aside_content {
  width: 100%;
}

.aside_section,
.home_section {
  width: 100%;
}

.about_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aside_section .project_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h1,
h2,
h3 {
  font-family: var(--font-outfit);
  user-select: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

a,
.button_link {
  font-family: var(--font-outfit);
  color: var(--accent-01);
}

p.default {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.custom.tooltip {
  background: var(--accent-01);
  color: var(--bg-color);
  border-radius: 1.5rem;
  font-size: 0.9rem;
}

#header.custom.tooltip {
  background: var(--accent-02);
}

#header.custom.tooltip,
#project_link.custom.tooltip {
  border-radius: 1.5rem 1.25rem 1.25rem 1.5rem;
}

/* 📌 @media */

@media (hover: hover) and (pointer: fine) {
  a:hover,
  .button_link:hover {
    text-decoration: underline;
  }
}

/* ⚠️ mobile && tablet */

@media (max-width: 1120px) {
  .page_container {
    flex-direction: column;
    gap: 3rem;
  }

  main {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}

/* ⚠️ mobile */

@media (max-width: 700px) {
  .child_container {
    margin: 2rem 0 2.5rem 0;
    padding: 0 var(--layout-padding-mobile);
  }

  aside {
    padding-left: 2rem;
  }
}

/* ⚠️ tablet */

@media (min-width: 701px) and (max-width: 1120px) {
  .child_container {
    padding: 0 var(--layout-padding-tablet);
  }

  aside {
    flex-direction: row-reverse;
    gap: 5%;
  }

  .aside_content {
    width: 45%;
  }
}
