.locales_list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.locale_link {
  margin: 0.25rem;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--light-color);
}

.active_locale {
  text-decoration: underline;
}
